// Custom styles.
@import './eevee.styl'


*,*:before,*:after {
    box-sizing: border-box
    position: relative
}

code{
    font-family: "Source Code Pro",Consolas,Menlo,Monaco,"Courier New",monospace
    color: #c7254e
    background-color: #f9f2f4
}

.pagination {
    text-align: center;
    border: none;
    .prev,.next, .page-number {
        border: none;
        transition: all .2s;
        &:hover {
            color: #eee
        }
    }
}

.footer-inner:before {
    min-height: 90px
}

.highlight {
    margin-top: 38px
}

.highlight code {
    color: initial
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 14px
}

blockquote {
    border-left: 2px solid #009A61
    background: #D9EDF7
    color: #555
}

.main {
    padding-bottom: 200px
}
canvas {
    position: absolute
    top: 90px
    z-index: -1
    background-color: #f5f5f5
    width: 100%
    bottom: 72px
    // height: 100%
    height: calc(100% - 150px)

}

.footer {
    margin-top: 0
    padding-top: 50px
    padding-bottom: 40px
    background: none
    position:static
}

.btn:hover, .post-more-link .btn:hover {
    background-color: #f5f5f5
}

.sidebar-toggle {
	width: 22px
    height: 22px
}

.back-to-top {
    box-sizing: border-box
    position: fixed
    bottom: -100px
    right: 50px
    z-index: 1050
    padding: 0 5px
    width: 22px
    background: #222
    font-size: 12px
    opacity: 1
    color: #fff
    cursor: pointer
    text-align: center
    -webkit-transform: translateZ(0)
    transition-property: bottom
    transition-duration: 0.2s
    transition-timing-function: ease-in-out
    transition-delay: 0s
}

.fa {
    display: inline-block
    font: normal normal normal 14px/1 FontAwesome
    font-size: inherit
    text-rendering: auto
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
}

.fa-arrow-up:before {
    content: "\f062"
}

.container {
    background-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 100%)
}

.Hitalk .vwrap {
    background: #fff;
}


.highlight-wrap[data-rel] {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 10px 30px 0px rgba(0, 0, 0, 0.4);
  margin: 35px 0;
  background: #2d2d2d;
  ::-webkit-scrollbar {
    height: 10px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  &::before {
    color: white;
    content: attr(data-rel);
    height: 38px;
    line-height: 38px;
    background: #21252b;
    color: #fff;
    font-size: 16px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    padding: 0px 80px;
    text-indent: 15px;
    float: left;
  }
  &::after {
    content: ' ';
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fc625d;
    width: 12px;
    height: 12px;
    top: 0;
    left: 20px;
    margin-top: 13px;
    -webkit-box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
    box-shadow: 20px 0px #fdbc40, 40px 0px #35cd4b;
    z-index: 3;
  }
}